<header class="navbar-header">
  <div class="container navbar-header-container">
    <a href="{{basePath}}" class="navbar-brand"> Occur </a>
    <div class="nav-links">
      <a href="{{basePath}}{{homePageLink}}" class="nav-link">For Candidates</a>
      <a href="{{basePath}}{{companiesLink}}" class="nav-link">
        For Companies
      </a>
    </div>
    <button class="navbar-toggle">
      <span class="toggle-visual">
        <span class="toggle-bar"></span>
        <span class="toggle-bar"></span>
        <span class="toggle-bar"></span>
      </span>
    </button>
  </div>
</header>
