.main-btn {
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1.42857;
  user-select: none;
  height: 60px;
  border-radius: 3px;
  padding: 20px 12px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  width: 100%;
  transition: 1s ease-out;

  &:hover {
    background-color: #4292fa;
    color: #fff;
  }

  &--blue {
    background-color: #627fd5;
  }

  &--light-blue {
    background-color: #44b9ff;
  }
}
