@media (min-width: 480px) {
  .send-email {
    width: 300px;
  }

  .main-btn__main {
    display: block;
    margin: 0 auto;
    width: 300px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }

  .cases {
    padding: 100px 0;
  }

  .cases-box-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .case-box {
    width: 48%;
    height: 350px;
    margin: 0 0 30px;
  }

  .benefits-box {
    padding: 80px 75px 25px;
  }
}

@media (min-width: 990px) {
  .container {
    width: 990px;
  }

  .mp-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .mp-container div {
    align-self: center;
    width: 50%;
  }

  .page-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .page-form div {
    align-self: center;
  }

  .heading-text {
    font-size: 4.6em;
  }

  .main-btn__main {
    width: 190px;
  }

  .main-img {
    height: 391px;
  }

  .cases {
    padding: 100px 0 140px;
  }

  .benefits-box {
    flex-direction: row;
    justify-content: space-between;
    padding: 80px;
  }

  .img-box {
    width: 80%;
    order: -1;
    flex-grow: 1;
  }

  .benefits-img {
    max-width: 80%;
    margin: 0;
  }

  .benefits-text {
    margin-left: -40px;
    flex-grow: 3;
  }
  .benefits-text__3 {
    margin-left: -400px;
  }

  .get-updates {
    padding-bottom: 140px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }

  .main-img-container {
    margin: 0;
  }

  .cases-box-container {
    justify-content: space-around;
  }

  .case-box {
    width: 50%;
    margin: 0 0 60px;
  }
  .benefits-text {
    margin-left: -140px;
  }

  .benefits-text__3 {
    margin-left: -500px;
  }

}
