.benefits {
  background-image: url(img/blue_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 11px #0000001c;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: 40px 0;
}

.benefits-heading-text {
  font-family: 'Roboto Mono', monospace;
  color: #49a3ff;
  font-weight: 300;
  margin: 20px 0 30px;
  font-size: 3.2em;
  text-align: center;
}

.benefits-box-container {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.benefits-box {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 40px;
  padding: 60px 37.5px 25px;

  @include tablet {
    padding: 80px 75px 25px;
  }

  @include tabletLarge {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
  }
}

.benefits-text {
  font-family: 'Roboto Mono', monospace;
  color: #6881a9;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  flex-grow: 1;

  @include tabletLarge {
    order: 1;
  }
}

.benefits-header {
  font-size: 1.8em;
  margin: 20px 0;
}

.benefits-description {
  color: #495e80;
  font-size: 1.4em;
  line-height: 2.1;
  font-weight: 400;
  margin: 20px 0;
}

.img-box {
  max-width: 60%;
  margin-top: 20px;
  margin-bottom: 14px;
  flex-shrink: 0;

  @include tabletLarge {
    width: 35%;
    margin: 0 65px 0 0;
  }
}

.benefits-img {
  width: 100%;
}
