.cases {
  display: block;
  background-image: url(../img/cases_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 11px #0000001c;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: 40px 0;

  @include mobile {
    padding: 100px 0;
  }

  @include tabletLarge {
    padding: 100px 0 140px;
  }
}

.cases-heading-text {
  font-family: 'Roboto Mono', monospace;
  color: #49a3ff;
  font-weight: 300;
  margin: 20px 0 30px;
  font-size: 3.2em;
  text-align: center;
}

.cases-box-container {
  margin: 18px;
  display: block;

  @include tablet {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  @include desktop {
    justify-content: space-around;
  }
}

.case-box {
  display: block;
  margin: 0 auto 20px;
  padding-bottom: 25px;
  max-width: 480px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 5px 50px rgba(232, 244, 255, 0.5);
  cursor: pointer;
  overflow: hidden;
  z-index: 1;

  @include tablet {
    width: 48%;
    margin: 0 0 30px;
  }

  @include desktop {
    width: 50%;
    margin: 0 0 60px;
  }
}

.case-text {
  font-family: 'Roboto Mono', monospace;
  color: #6881a9;
  font-size: 1.6em;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.case-img {
  margin: 0 auto;
  margin-top: 46px;
  max-height: 360px;
  max-width: 300px;
  width: 70%;

  @include tablet {
    margin-top: 76px;
  }
}
