.get-updates {
  background-image: url(../img/cases_bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 11px #0000001c;
  padding-top: 160px;
  padding-bottom: 100px;

  @include tabletLarge {
    padding-bottom: 140px;
  }
}

.main-btn__updates {
  display: block;
  margin: 0 auto;
  background-color: #6861ff;
  margin-top: 20px;
  width: 190px;
}
