.navbar-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  transition: all 0.2s ease-in-out;
  margin: 0 auto;
  padding: 10px 0;

  &.sticky {
    background: $introGradient;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  }

  @include tabletLarge {
    padding: 25px 0;
  }
}

.navbar-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  text-decoration: none;
  color: white;
  margin-right: 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-toggle {
  position: relative;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;

  @include tabletLarge {
    margin-right: 15px;
    display: none;
  }
}

.toggle-bar {
  background-color: #fff;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin-top: 4px;
}

.collapsing-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  padding: 100px 50px 50px;
  transform: translateX(-100%);
  transition: transform 0.3s, opacity 0.5s;
  opacity: 0;
  z-index: 1000;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  text-align: center;

  &.is-open {
    opacity: 1;
    display: block;
    transform: translateX(0);
  }

  @include mobile {
    max-width: 450px;
  }

  @include tabletLarge {
    display: none !important;
    justify-content: space-between;
    background: #fff;
  }
}

.collapsing-menu__link {
  display: block;
  width: 100%;
  padding: 10px;
  color: #333;
  font-size: 24px;
  text-decoration: none;
  margin-bottom: 30px;
  transition: color 0.3s;

  &:hover {
    color: $brandColor;
  }

  @include tablet {
    font-size: 36px;
  }

  @include tabletLarge {
    font-size: 18px;
  }
}

.nav-links {
  display: none;

  @include tabletLarge {
    display: flex;
    align-items: center;
  }
}

.nav-link {
  position: relative;
  display: inline-block;
  font-size: 13px;
  color: $light;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 600;

  &::before {
    content: '';
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    width: 100%;
    height: 1px;
    transition: transform 0.3s;
    transform: scaleX(0);
    background: $light;
  }

  &:hover {
    &::before {
      transform: scaleX(1);
    }
  }
}

.collapsing-menu-close {
  position: absolute;
  right: 20px;
  top: 30px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  outline: none;

  svg {
    width: 100%;
    height: 100%;
    fill: $dark;
    stroke-width: 1px;
    stroke: $dark;
    pointer-events: none;
  }
}
