$introGradient: radial-gradient(
  circle at 104%,
  #5bccde,
  #58bdcc 30%,
  #66b5c1 65%,
  #5aa5b1 75%
);

$introGradientCompanies: radial-gradient(
  circle at 104%,
  #a15aad,
  #ae59bd 30%,
  #b469c1 65%,
  #a361af 75%
);

$brandColor: #66b5c1;

$light: #fff;
$dark: #333;
